{% extends 'blr/base.html' %}
{% block body %}
<div class="row" id="login">
    <div class="col-md-4 col-md-offset-4">
    	{% if error_message %}
    	<div>
    		<p class="error flash-error"><strong></strong>{{ error_message }}</strong></p>
    	</div>
    	{% endif%}
    	<form action="#" method=post>
    	  {% csrf_token %}
    	  <div class=row><label for="username">Username: </label><input type=text name=username id="username"></div>
    	  <div class=row><label for="password">Password: </label><input type=password name=password id="password"></div>
    	  <div class=row><label></label><input type=submit value=Login></div>
    	</form>
    </div>
</div>
{% endblock %}